:root
body {
  color: black; }

.nav_logo {
  width: 8%; }

.header_img {
  width: 40%; }

.navbar ul {
  max-width: 100%;
  float: right; }
  .navbar ul li {
    display: inline-block;
    color: black; }
  .navbar ul a {
    text-decoration: none; }

h1 {
  font-size: 50px; }

