body {
  background-color: lightgray; }

header .navbar h1 {
  display: inline-block;
  margin: 20px 20px 20px 20px; }

header .navbar nav {
  display: inline-block; }
  header .navbar nav ul {
    padding: 0; }
    header .navbar nav ul li {
      text-decoration: none;
      display: inline-block;
      margin: 0 20px 0 20px; }
      header .navbar nav ul li a {
        text-decoration: none; }
        header .navbar nav ul li a:visited {
          color: black;
          text-decoration: none; }
        header .navbar nav ul li a:hover {
          color: #4f4f4f;
          text-decoration: none; }

