body {
    background-color: lightgray;
}

header {
    .navbar {
        h1 {
            display: inline-block;
            margin: 20px 20px 20px 20px;
        }
        nav {
            display: inline-block;
            ul {
                padding: 0;
                li {
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 20px 0 20px;
                    a {
                        text-decoration: none;
                        &:visited {
                            color: black;
                            text-decoration: none;
                        }
                        &:hover {
                            color: #4f4f4f;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}