@import "var";

* {
    font-family: 'Montserrat';
}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}
strong {
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: $white;
}
header {
    width: 100%;
    font-family: 'Montserrat';
    position: fixed;
    transition: $transition;
}
section {
    min-height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1 {
    font-size: 30px;
}
ul {
    position: relative;
    right: 0;
}
.nav_el {
    display: inline-block;
    padding: 1rem;
    a:hover {
        transition: $transition;
        opacity: 0.5;
    }
}
.hero {
    background-image: url("https://images.pexels.com/photos/2098143/pexels-photo-2098143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        background-color: $white;
        font-size: 50px;
        width: 600px;
        padding: 2rem;
        text-align: left;
    }
    strong {
        font-size: 60px;
    }
    button {
        margin-top: 3rem;
        padding: 1rem;
        color: $black;
        font-weight: normal;
        background-color: $white;
        font-size: 1rem;
        border: none;
        transition: $transition;
        width: 200px;
    }
    button:hover {
        color: $white;
        background-color: $red;
        width: 220px;
    }
}
