@font-face {
  font-family: "Josefin";
  src: url("JosefinSans-Regular.ttf");  
}


#logo {
	position: fixed;
	top:0px;
	padding-top: 20px;
	left: 0px;
	padding-left: 30px;
}

.mail {
	font-family: "Josefin";
	position: fixed;
	bottom: 0;
	padding-bottom: 30px;
	right: 0;
	padding-right: 70px;
	font-size: 12px;
}

.signature {
	font-family: "Josefin";
	position: fixed;
	bottom:0;
	padding-bottom: 30px;
	left: 0;
	padding-left: 70px;
	font-size: 12px;
}

.icone {
position: fixed;
top: 0px;
padding-top: 20px;
right:0px;
padding-right: 30px;
display: flex;
}

.about {
	font-family: "Josefin";
	position: fixed;
	top:45%;
	writing-mode: vertical-rl;
    text-orientation: sideways;
    margin-right: 50px;

}

.fab{
	color: black;
	margin-right: 10px;
	padding-top: 20px;
	size: 20px;
}


.projet1 {
	height: 800px;
	background-color: #e7e7e7;
}

.projet2 {
	height: 800px;
	background-color: #cce1e0;
}

.projet3 {
	height: 800px;
	background-color: #e7e7e7;

}

.projet4 {
	height: 800px;
	background-color: #cce1e0;

}

.projet5 {
	height: 800px;
	background-color: #e7e7e7;

}

