.projects {
    height: 100vh;
    padding: $gutters $gutters;
    background-color: $white;

    &__title {
        margin-bottom: 1.8rem;
        
    }

    &__list {
        margin-bottom: 4rem;

        li {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 700;
            color: rgb(202, 202, 202);
            padding-right: 3rem;
            
        }

        .active {
            color: $primary-color;
        }
    }

    &__images {
        display: flex;
        align-items: center;
        // position: relative;

        &--container {
            position: relative;

            &:hover::after {
                // position: absolute;
                bottom:-60px;
                // display: inline;
                opacity: 1;
                transition: 0.7s;
            }  

            &::after {
                content: "Haec igitur lex in amicitia sanciatur, ut neque rogemus res turpes nec faciamus rogati.";
                // color: white;
                position: absolute;
                bottom:0;
                left: 0;
                // display: none;
                opacity: 0;
                transition: 0.7s;
    
                  
            }
        }
        
        
        
        img {
            height: 290px;
            margin-right: 15px;
            box-shadow: 2px 2px 10px rgb(75, 75, 75);
            border-radius: 2px;
            
            &:nth-child(1) {
                transition: 0.7s;
            }

            &:nth-child(1):hover {
                height: 310px;
                border-bottom: 0.5rem solid $primary-color;
                border-radius: 2px;
                transition: 0.7s;
                
                
            }
            
        }

    
    
    }

    // &__img :nth-child(1n) {
    //     height: 1000px;
    // }

}